
.light-theme {
  --background-color: #f1f1f1;
  --switch-color: #1d1f21;
  --second-tone: #0EA5E9;
  --third-tone: white;
  color: black;
}
.dark-theme {
  --background-color: #1d1f21;
  --switch-color: #f1f1f1;
  --second-tone: #0EA5E9;
  --third-tone: #393d3f;
  color: #f1f1f1;
}
body {
  background: var(--background-color);
}
.container {
  background: var(--background-color);
  min-height: 100svh;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bodyContainer {
  /* height: auto; */
  margin-top: -5%;
  /* padding-bottom: 1%; */
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
  align-items: center;
}

.dp {
  height: 350px;
  width: 350px;
  border-radius: 50%;
}


.navbar {
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar > li {
  margin-right: 1.5rem;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
}
.links {
  color: var(--switch-color);
  text-decoration: none;
}
.links:hover {
  color: var(--second-tone) !important;
}
.navbar > li:hover {
  color: var(--second-tone);
  cursor: pointer;
}

.header {
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading {
  color: var(--second-tone);
}

.theme-switch {
  padding: 3.5px 4px;
  border-radius: 50px 50px;
  background-color: var(--switch-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
  box-shadow: 5px 10px 5px transparent inset
}

.moon {
  width: 28px;
  height: 28px;
  cursor: pointer;
}

.sun {
  width: 22px;
  height: 22px;
  margin-right: 16px;
  cursor: pointer;
}

.light-circle {
  background-color: #f1f1f1;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  margin-right: 12px;
}

.dark-circle {
  background-color: #1d1f21;
  border-radius: 50%;
  width: 28px;
  height: 28px;
}

.mainHeading {
  font-size: 45px;
}

.welcome {
  border: 1px solid var(--switch-color);
  font-size: 24px;
  width: fit-content;
  padding: 4px 8px;
  font-weight: 600;
}

.primary-btn {
  font-size: 20px;
  border-radius: 50px;
  padding: 10px 20px;
  font-weight: 500;
  cursor: pointer;
  background-color: var(--second-tone);
  border: none;
  color: #f1f1f1;
}
.primary-btn:hover {
  background-color: #0284c7;
  color: white;
}

.secondary-btn {
  font-size: 20px;
  border-radius: 50px;
  padding: 10px 20px;
  font-weight: 500;
  cursor: pointer;
  background-color: #04b4e005;
  border: 1px solid #04b4e0;
  color: #04b4e0;
}

.secondary-btn:hover {
  background-color: #04b4e010;
}
.title {
  font-size: 32px;
  font-weight: 400;
}

.btns {
  display: flex;
  flex-wrap: wrap;
}

.menuIcon {
  display: none;
}
.menuIcon > img {
  height: 32px;
  width: 32px;
}
.nextLine {
  font-size: 32px;
  font-weight: 400;
}

.menuList {
  list-style: none;
  font-size: 24px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: none;
}

.menuList > li {
  margin: 20px 0;
}
.menuList > li:hover {
  color: var(--second-tone);
  cursor: pointer;
  text-decoration: none;
}

.horizontalLine {
  width: 100%;
  border: 1px solid var(--switch-color);
  margin: 42px 0 0 0;
}

.footer {
  text-align: center;
  font-size: 22px;
  margin: 8px 0;
}


@media screen and (max-width: 640px) {
  .bodyContainer{
    flex-direction: row-reverse;
  }
  .navbar >li {
    display: none;
  }
  .menuList {
    display: inline;
  }
  .dp {
    width: 220px;
    height: 220px;
    padding: 45px 0;
  }
  .heading {
    font-size: 24px;
  }
  .mainHeading {
    font-size: 32px;
    text-align: center;
  }
  .mainHeading > .heading{
    font-size: 32px;
  }
  .title {
    font-size: 24px;
    text-align: center;
  }
  .btns {
    justify-content: center;
    align-items: center;
  }
  .welcome {
    margin: auto;
  }
  .menuIcon {
    display: inline !important;
  }
  .header {
    padding: 0;
  }
  .nextLine {
    font-size: 22px;
    font-weight: 400;
  }
}